body {
    background-color: black;
    font-family: 'Permanent Marker', cursive;
}

#container {
    width: 70vw;
    height: 90vh;
    margin: 2% auto;
    padding: 2% 3% 1% 3%;
    border: 6px double black;
    background-color: white;
}

h1 {
    margin-bottom: 3vh;
    padding-top: 2vh;
    font-size: 25px;
    font-weight: bold;
    color: goldenrod;
}

.new-task {
    width: 60vw;
    height: 20vh;
    margin: 0 auto 3% auto;
    padding: 2%;
    text-align: center;
    color:black;
    background-color: black;
    border: 2px solid goldenrod;
}

input {
    width: 60%;
    font-size: 15px;
    border: none;
    font-family: 'Bebas Neue', cursive;
}

button {
    border: 2px solid goldenrod;
    background-color: white;
    font-family: 'Bebas Neue', cursive;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

#addBtn {
    margin-top: 5%;
    width: 23%;
    font-size: 15px;
}

.to-do-list {
    width: 60vw;
    height: 60vh;
    margin: 0 auto;
    padding: 2%;
    border: 2px solid black;
}

#list {
    counter-reset: elementcounter;
}

#list>li:before {
    content: counter(elementcounter) ": ";
    counter-increment: elementcounter;
}

li {
    font-size: 15px;
    padding: 5px 15px;
    border-bottom: 2px solid goldenrod;
    list-style-type: none;
    line-height: 1.2;
}

li button {
    float: right;
    margin-right: 1px;
    font-size: 10px;
}

li:nth-of-type(odd) {
    background-color: white;
}

li:nth-of-type(even) {
    color: white;
    background-color: black;
}

li:hover {
    color: black;
    background-color: goldenrod;
}

.done {
    color: goldenrod;
    text-decoration: line-through;
}

.popup {
    display: none;
    position: fixed; 
    left: 20vw;
    top:25vh;
    width: 60vw; 
    height: 50vh; 
    overflow: auto; 
    background-color: rgba(218,165,32,0.6); 
    border: 2px solid black;
}

.popup-content {
    margin: 25% 5%;
    font-size: 40px;
    width: 89%; 
    height: 50%;
    background-color: #fefefe;
    border: 2px solid black;
}

.popupBTN {
    width: 90%;
    margin: 0 0 2% 5%;
    padding: unset;
    border: 2px solid black;
    font-size: 20px;
}

span.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

@media (min-width: 768px) {
    #container {
        height: unset;
    }

    h1 {
        font-size: 40px;
    }

    .new-task {
        width: 50vw;
    }

    input {
        font-size: 20px;
    }

    #addBtn {
        margin-top: auto;
        font-size: 20px;
    }

    .to-do-list {
        width: 50vw;
        height: 40vh;
    }

    #list>li:before {
        content: "Task " counter(elementcounter) ": ";
        counter-increment: elementcounter;
    }

    li {
        font-size: 20px;
    }

    li button {
        font-size: 15px;
    }

    .popup-content {
        margin: 10% 5%;
    }
}